<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary_BaseDeDatos.Properties.Settings.Coneccion_db"
            connectionString="Data Source=LAB5PC32\SQLEXPRESS;Initial Catalog=Padron;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>